/* --------------------------------------------Imported Google fonts */
/* 
font-family: 'Lato', sans-serif;
font-family: 'Roboto Slab', serif; 
*/

/* --------------------------------------------Reset html styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', helvetica, sans-serif;
}

body {
  position: relative;
  margin: auto;
  min-height: 100%;
  background-color: #f5f5f5fa;
  padding-bottom: 3rem;
}

main {
  margin: 0 auto;
  max-width: 650px;
}

h1 {
  padding: 15px;
  font-size: 2em;
  color: #004466;
}

h3 {
  padding: 10px;
  border-top: solid 1px #004466;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  cursor: default;
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

/* -------------------------------------------Page hero-section styling */
.hero-image {
  height: 250px;
  width: 100%;
  background-image: url("../images/home/home-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  max-width: 850px;
  margin: 0px auto;
  margin-top: -2em;
  text-align: center;
  background-color: #eeeaea;
  padding: 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 15px;
  border-top: #004466 solid 1px;
  border-bottom: #004466 solid 1px;
}

/* --------------------------------------------Page main styling */

.body-image {
  background-color: #004466;
}

.quiz-container {
  width: 100%;
  margin: 25% auto;
  align-items: center;
  padding: 10px;
}

.intro {
  position: relative;
  text-align: left;
  padding: 10px;
  margin: 10px auto;
}

.quiz-container {
  display: none;
  background-color: #eeeaea;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 100px;
}

#cdm-answers {
  border-top: solid 1px #004466;
  padding: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2em;
  width: 100vw;
  background-color: #efefef;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

/* --------------------------------------------Buttons styling */
button {
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  color: #004466;
  cursor: default;
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

/*  ============= ANSWER buttons styles */
.btn {
  display: block;
  text-align: left;
  margin: 10px auto;
  padding: 10px;
  width: 95%;
  background: #f8fafc;
  border: 1px solid #004466;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover:not([disabled]) {
  background-color: #004466;
  color: #eeeaea;
}

.btn:disabled {
  cursor: not-allowed;
}

/*  ============= START, NEXT buttons shared styles */
.start-btn,
.next-btn {
  padding: 10px;
  display: block;
  margin: 20px auto;
  margin-bottom: 50px;
  text-align: center;
  border: 2px solid #004466;
  border-radius: 5px;
  letter-spacing: 3px;
  width: 200px;
  transition: 0.3s;
  background-color: #f8fafc;
}

/*  ============= START QUIZ button hover */
.start-btn:hover {
  background-color: #004466;
  color: #eeeaea;
}

/*  ============= NEXT button hover (Disable true/false) */
.next-btn:hover:not([disabled]) {
  background-color: #004466;
  color: #eeeaea;
  border: 2px solid #004466;
}

.next-btn:disabled {
  cursor: not-allowed;
}

/*  ============= EXIT button styling */
.exit-btn {
  text-align: center;
  border: 2px solid #004466;
  border-radius: 5px;
  letter-spacing: 1px;
  width: 100px;
  transition: 0.3s;
  background-color: #f8fafc;
  margin-bottom: 10px;
  color: #004466;
}

/*  ============= EXIT button hover */
.exit-btn:hover {
  background-color: #004466;
  color:  #eeeaea;
}

/* Quiz (NEXT) button style container */
.group-btn {
  display: flex;
  justify-content: space-around;
}

/* Correct/Incorrect answer styles */
.correct {
  color: black;
  border: solid 2px #009f82;
  background-color: rgb(184, 226, 200);
}

.incorrect {
  border: solid 2px red;
  color: red;
}

/* ----------------------------- Feature (Score) container styling */
.feature {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.score {
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  letter-spacing: 1px;
  color:  #f8fafc;
  display: block;
  text-align: center;
  background-color: #004466;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 2px;
}

/* --------------------------------------------404 page styles */
.error {
  text-align: center;
}

.error a {
  margin-top: 15px;
  padding: 5px;
  border: solid;
}

/* --------------------------------------------Media Query Styles */
/* RESPONSIVE design section------------------------------------------------------*/
@media all and (max-width: 600px) {
  h1 {
    font-size: 1.6em;
  }

  .hero-container {
    margin-top: -8em;
  }

  h3 {
    font-size: 1.25em;
  }

  h2 {
    font-size: 1.35em;
  }

  .quiz-container {
    padding: 10px;
  }

  .next-btn {
    margin: 10px;
  }
}

@media all and (max-width: 360px) {
  .quiz-container {
    margin: 5% auto;
    align-items: center;
    padding: 5px;
    font-size: 0.8em;
  }

  .hero-container {
    max-width: 300px;
  }
}

